body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
}

h2 {
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}



hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

p {
    line-height: 2;
}

.intro {
    width: 30%;
    margin: 50px auto 100px auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.contact-me {
    padding-top: 100px;
    clear: both;
}

.contact-msg {
    width: 40%;
    margin: 40px auto 60px;
}

.c-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.cplus-image{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.python-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.word-image {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.powerpoint-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.under {
    text-decoration: underline;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.bottom-container {
    padding-top: 50px;
    background: #66BFBF;
    position: relative;
    top: 15px;
}

.middle-container {
    margin: 100px 0;
}

.copyright {
    color: #EAF6F6;
    padding: 2rem;
}

.footer-link {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;

}

.footer-link:hover {
    color: #EAF6F6;
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #66BFBF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #083652;
  text-decoration: none;
}
